<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="#">Home</a>
            {#<a class="blog-nav-item" href="#">New features</a>
            <a class="blog-nav-item" href="#">Press</a>
            <a class="blog-nav-item" href="#">New hires</a>
            <a class="blog-nav-item" href="#">About</a>#}
            {% if(loggedin) %}
                <a class="blog-nav-item pull-right" href="/logout">Logout</a>
            {% else %}
                <a class="blog-nav-item pull-right" href="/login">Login</a>
            {% endif %}
        </nav>
    </div>
</div>