{% extends 'base.html.twig' %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/blog.css" />
{% endblock %}

{% block body %}

{{ include('AppBundle::general/navbar.html.twig') }}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            {% for post in posts %}
                {{ include('AppBundle::posts/post.html.twig', { 'post' : post }) }}
            {% endfor %}

        </div>

    </div>

</div>
{% endblock %}
