<div class="blog-post">
    <h2 class="blog-post-title"><a href="/posts/{{ post.post_hash }}">{{ post.title }}</a></h2>
    <p class="blog-post-meta">{{ post.created|date("F jS \\a\\t g:ia") }} by <a href="/users/{{ post.author_hash }}">{{ post.first_name }} {{ post.last_name }}</a></p>

    <p>{{ post.content }}</p>
</div><!-- /.blog-post -->